<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog Post</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="container my-4">
        <h2 class="text-center">Symptom-Based Disease Diagnosis Web App</h2>
        <p>We developed a web app using Flask and a Decision Tree Classifier model to help users identify potential illnesses based on symptoms they report.</p>

        <h3>The Problem</h3>
        <p>People often struggle to differentiate between diseases when symptoms overlap. Our goal was to provide a quick, easy solution for users to identify potential health issues.</p>

        <h3>The Solution</h3>
        <p>The app allows users to input their symptoms, and using a trained model, it predicts the most likely disease. Additional information like disease descriptions, precautions, medications, and diet tips are also provided.</p>

        <h3>Key Features</h3>
        <ul>
            <li>User-friendly interface for easy symptom input.</li>
            <li>Accurate disease predictions using machine learning.</li>
            <li>Comprehensive information about predicted diseases.</li>

        </ul>

        <h3>Conclusion</h3>
        <p>Our web app makes healthcare information more accessible and empowers users to make informed decisions about their health. It represents a step toward better, more accessible healthcare through technology.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
