<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Riya Das</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="container my-4">
        <h5>About Riya Das</h5>
        <p>Hello, I'm Riya Das, a fresher passionate about using technology to make an impact. I’m excited to explore new opportunities and grow in the field of AI and ML.</p>
        <h5>Expertise & Aspirations</h5>
        <p>Although I'm a fresher, I am eager to learn and contribute to innovative projects in AI and machine learning. I strive to develop skills that can benefit both individuals and society.</p>
        <h5>Passion for Learning</h5>
        <p>I'm passionate about learning new technologies and applying them to real-world challenges, especially in healthcare, to improve accessibility and outcomes.</p>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
